.component {
  display: flex;
  flex-direction: column;
  max-width: 966px;
  width: 100%;

  .inputBlocks {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 20px;

    .swapBtn {
      width: 24px;
      height: 24px;
    }
  }

  .title {
    font-weight: 300;
    font-size: 50px;
    color: #282828;
    padding-bottom: 16px;
    line-height: 60px;
  }
  .smallTitle {
    font-size: 20px;
    color: #282828;
    padding-bottom: 60px;
  }

  .buttonBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 31px;
    gap: 8px;
  }
  .error {
    color: #ef1405;
    display: flex;
    height: 23px;
    justify-content: center;
    max-width: 205px;
    line-height: 23px;
    word-wrap: break-word;
  }
  .inputAddress {
    max-width: 723px;
    width: 100%;
    height: 48px;
    background: #f6f7f8;
    border: 1px solid #e3ebef;
    border-radius: 5px;
  }

  .submitBlock {
    display: flex;
    margin-top: 32px;
    gap: 32px;
    align-items: flex-start;
  }
}

@media (max-width: 1050px) {
  .component {
    width: 80vw;
    .inputAddress {
      width: 400px;
      padding: 0px;
    }
    .errorMinAmount {
      justify-content: center;
    }
  }
}
@media (max-width: 767px) {
  .component {
    width: 80vw;

    .title {
      font-weight: 250;
      font-size: 32px;
      padding-bottom: 16px;
      line-height: 48px;
    }

    .inputBlocks {
      flex-direction: column;
      .swapBtn {
        align-self: flex-end;
      }
      .swapBtn {
        transform: rotate(90deg);
      }
    }

    .submitBlock {
      flex-direction: column;
      gap: 16px;

      .buttonBlock {
        margin: 0;
        gap: 8px;
        width: 100%;

        .error {
          width: 100%;
          max-width: none;
          justify-content: center;
        }
      }
    }
  }
}
