// {
//     width: 440px;
//     border: 1px solid #E3EBEF;
//     border-radius: 5px;
//     &Modal{
//        overflow-y: scroll;
//        max-height: 194px;
//        position: absolute;
//        background: #f5f7f8;
//        border-radius: 5px;
//        width: 440px;
//        border: 1px solid #E3EBEF;
//        margin-top: -51px;
//        z-index: 1000;
//        &Search{
//            display: flex;
//            align-items: center;
//            justify-content: space-between;
//            border-bottom: 1px solid #E3EBEF;
//            height: 50px;
//            padding: 0 15px;

//           }
//           &InpSearch{
//               background: #f5f7f8;
//           }
//           &ImgClose {
//            height: 10px;
//            width: 10px;
//               &:hover{
//                   cursor: pointer;
//               }
//           }
//    }
//    &Btn {
//        display: flex;
//        justify-content: space-between;
//        align-items: center;
//        width: 150px;
//        border-left: 1px solid #E3EBEF;
//        &:hover{
//            cursor: pointer;
//        }
//        &Arrow{
//            height: 6px;
//            width: 10px;
//        }
//        &Img {
//            height: 20px;
//            width: 20px;
//        }
//    }
//    &IptCoin{
//        background: #f5f7f8;
//        border-radius: 5px;
//        width: 290px;
//    }
//    &BtnInput {
//        display: flex;
//        justify-content: space-between;
//        background: #f5f7f8;
//        height: 30px;
//        border-radius: 5px;
//        padding: 10px 15px;

//    }
//    &CoinSelection {
//        display: flex;
//        padding: 0px 10px 0 10px;
//        flex-direction: row;
//        align-items: center;
//        height: 48px;
//        &:hover{
//            cursor: pointer;
//            background: #ebf1f7;
//        }
//    }
//    &CoinSelection * {
//        padding-right: 16px;
//    }

//    &CoinName {
//        color: #80A2B6;
//    }

//    &CoinTicker {
//        text-transform: uppercase;
//    }
//    &BtnImage{
//        display: flex;
//        align-items: center;
//        gap: 15px;
//        padding-left: 30px;
//        padding-right: 10px;
//    }
//    &BtnImageLongs{
//        display: flex;
//        align-items: center;
//        gap: 5px;
//        margin-left: 5px;
//        padding-right: 4px;
//    }
// }

.component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.input {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  height: 50px;
  border-radius: 5px;
  font-weight: normal;
  padding: 5px 15px;
  border: solid 1px #E3EBEF;
  background-color: #F6F7F8;
  transition: all 0.3s;

  &::placeholder {
    line-height: var(--veb-control-height-m);
    text-align: left;
    color: var(--veb-color-placeholder);
  }

  &[disabled] {
    border-color: var(--veb-color-border);
    // background-color: var(--veb-color-border);
    cursor: not-allowed;
    // opacity: var(--veb-disabled-opacity);
  }

  &:focus:not([disabled]),
  &:hover:not([disabled]) {
    // box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
    &.hasError {
      border-color: var(--veb-color-error);
    }
  }
}

@media (max-width: 990px) {
  .ExchangePageInput {
    width: 360px;
    &Modal {
      width: 360px;
    }
  }
}
@media (max-width: 900px) {
  .ExchangePageInput {
    width: 400px;
    &Modal {
      width: 400px;
    }
  }
}
@media (max-width: 430px) {
  .ExchangePageInput {
    width: 326px;
    &Modal {
      width: 305px;
    }
  }
}
